*example_design/*
!example_design/*.tcl
!example_design/*.md
!example_design/utils/*
*hdl/modules/IPs/*
!hdl/modules/IPs/synth/*
!hdl/modules/IPs/*.xci
*example_test/*
**/sim_build
**/build

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class